.CalendarDay__selected_span {
    background: #233746; 
    color: white;
    border: 1px solid #233746; 
  }


.CalendarDay__selected {
  background: #233746; 
  color: white;
  border: 1px solid #233746; 
}


.CalendarDay__selected:hover {
  background: #677A69;
  color: white;
  border: 1px solid #677A69;
}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: #233746; 
  color: white;
  border: 1px solid #233746; 
}

.DateInput_input__focused {
    border-bottom: 2px solid #233746;
}